.card {
  margin: 20px;
  width: 18rem;
}

.card-title {
  margin-bottom: 15px;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
.divCard{
  width: 21em;
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding: 6px;
  border: 1px solid rgb(216 216 216);
  border-radius: 5px;
  height: 12em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.divCard:hover {
  /* box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4); */
  /* outline-color: rgba(49, 138, 172, 0); */
  /* outline-offset: 80px; */
  /* text-shadow: 1px 1px 6px #fff; */
  transform: scale(1.01);
}
.closeButton{
  display: flex;
  align-self: flex-end;
  background-color: rgb(225, 98, 98);
  border-radius: 5px;
  border: none;
  color: white;
}
.closeButton:hover{
  background-color: rgb(255, 8, 8);
  transform: scale(1.01);
  
}
.ulCard{
  list-style: none;
  display: flex;
  justify-content: space-between;
}